<h1>About me</h1>

<p>
  I'm a new Rails developer just learning all these cool things.
</p>
<p>
  What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.
  Here men from the planet Earth first set foot upon the Moon. July 1969 ActionDispatch. We came in peace for all mankind.
  Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.
</p>
